.tabela {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  -webkit-text-stroke: 2.3px #000000;
  color: #eeeeee;
  width:50vw; 
}
.jogoStop h2 {
  top: 6dvh;
  right: 8vw;
  position: absolute;
  font-size: 4vw;
  -webkit-text-stroke: 3.5px #640909
}
.jogoStop {
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* Center children vertically */
  padding: 0 8vw 0 3vw;
  position: relative;
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 200;
  font-style: normal;
  font-size: 25px;
  color: #eeeeee;
  -webkit-text-stroke: 1.5px #000000;
}

.numMagico {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  justify-content: center;  
  font-size: 45px;
  font-weight: bold;
  height: 100%;
  text-align: center;
  border-radius: 20px;
  -webkit-text-stroke: 1.5px #330404;
  width: 39vw;
  gap: 40px;
}
.randomNumber {
  display: flex;
  align-items: center;        
  justify-content: center; 
  color: #940909; 
  font-size: 15vw;
  background: 
    radial-gradient(circle,#d86262,#b83d3d);
  border: 8.3px solid #570707;
  border-radius: 40px;
  padding: 0 30px 30px 30px;
  height: 16vw;
  margin:auto;
  cursor: pointer;
}

.pararJogo{
  border: 6px solid #e4dddd ;
  background: 
    radial-gradient(circle,#d64545,#a71e1e);
  border-radius: 60px;
  box-sizing: border-box;
  color: #e6e6e6;
  -webkit-text-stroke: 6px #7e0b0b;
  font-size: 75px;
  display: flex;            
  align-items: center;        
  justify-content: center;    
  width: 285px;
  height: 150px;
  text-align: center;
  margin: auto;
  margin-top: 80px;
  padding-bottom: 7px;
}
.pararJogo:hover {
    border: 6px solid #bdb6b6 ;
    background: 
      radial-gradient(circle,#c53f3f,#991b1b);
    transform: scale(1.03);
    -webkit-text-stroke: 6px #7e0a0a;
    color: #c0bebe;
}
.cell {
  background: 
      radial-gradient(circle,#771919,#940909);
  border: 4.5px solid #570707;
  border-radius: 10px;
  padding: 11px;
  text-align: center;
  
}


.header {
  display: flex;            
  align-items: center;        
  justify-content: center;   
  border: 5.3px solid #570707;
  border-radius: 10px;
  background: 
      radial-gradient(circle,#cf7070,#be4949);
  margin-bottom: 7px;
  font-size: 30px;
}

.input-cell { 
  font-size: 30px;
  color: #e9e8e8; 
   background: 
      radial-gradient(circle,#cf7070,#be4949);
  border: 4.5px solid #570707;
  border-radius: 10px;
  width: 100%;
  padding: 15px 0 15px 5px;
  box-sizing: border-box;
}

.input-cell:focus {
  border-color: #991010;
  box-shadow: 0 0 5px rgba(153, 16, 16, 0.5);
}

.verde {
  background-color: #2fc436;
}

.vermelho {
  background-color: #992521;
}

.tabelaWrap{
  position: relative;
  display: inline-block;
}
