.regrasPage {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 200;
  font-style: normal;
  display: flex;
  min-height: 100vh;
  overflow: hidden; /* avoids double scrollbars */
}

.boxRegras {
  width: 55%;
  background-color: #6d0912b0;
  border-right: 10px solid #9b0b16;
  padding: 2rem;
  box-sizing: border-box;
  min-height: 100vh;
}

.regras {
  font-size: 25px;
  color: #eeeeee;
  margin: 0;
  -webkit-text-stroke: 1.5px #000000;
}

.botoes {
  width: 45%;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* ensures it fills the full height */
  overflow: hidden;  /* prevents its own scrollbar */
}

.regras strong {
    font-size: 30px;
    -webkit-text-stroke: 2.2px #2e0306;
}

.regras li{
    margin-bottom: 30px;
}
.boxRegras h2 {
    font-size: 50px ;
    -webkit-text-stroke: 3px #9b0b16;
    margin-bottom: 27px;
    cursor: pointer;
}
.regras h2:hover{
    color: #d1d0d0;
    -webkit-text-stroke: 3px #800a14;
    transform: scale(1.03);
}

code{
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 200;
    font-style: normal;
    color: #bd0d1c;
    -webkit-text-stroke: 0.4px #fff;
    font-size: 30px;
}

.button {
  border: 10px solid #4b0606 ;
  background: 
    radial-gradient(circle,#e21e1ea0,#751111a0);
  border-radius: 120px;
  padding: 0 20px;
  box-sizing: border-box;
  color: #e9c3c3;
  -webkit-text-stroke: 6.5px #4b0606;
  font-size: 160px;
  display: flex;            
  align-items: center;        
  justify-content: center;    
  margin: 0 auto;
  width: 550px;
  height: 230px;
  text-align: center;
  padding-bottom: 35px;
  margin-top: 0px;
  margin-bottom: 00px;
}
.button:hover {
    border: 10px solid #300404 ;
    background: 
     radial-gradient(circle,#be1a1aa0,#570c0ca0);
    transform: scale(1.03);
    -webkit-text-stroke: 6.5px #300404;
    color: #caa8a8;
}