

.sort {
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 200;
    font-style: normal;
    font-size: 7vw;
    color: #d88282;
    -webkit-text-stroke: 4px #330404;
    text-align: center;
    
}
.divSort {
  padding-top: 7vw;
  display: flex;
  flex-direction: column;          
  align-items: center;            
  justify-content: center;         
  text-align: center;
  gap: 3vw;
  height: 85vh;
}


.numeroBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle, #d86262, #b83d3d);
  border: 0.6vw solid #570707;
  border-radius: 3vw;
  padding: 0 2vw;
  width: fit-content;
  height: fit-content;

  /* Makes the box only as tall as needed, tightly wrapping content */
  line-height: 1;
}

.numero {
  font-size: clamp(10px, 14vw, 2000px);
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 200;
  font-style: normal;
  color: #940909;
  -webkit-text-stroke: 7px #330404;
  display: block;

  /* Critical to remove top whitespace */
  line-height: 1;
  
  padding: 0;
  margin: 0;

  /* Extra tweak to fix stubborn font padding */
  transform: translateY(-1.2vw);
}

.reset-button{
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 200;
  font-style: normal;
  position: absolute;
  bottom:6dvh;
  right: 8vw;
  -webkit-text-stroke: 0.15vw #330404;
  color: #eee;
  font-size: 2vw;
  background: radial-gradient(circle, #d86262, #b83d3d);
  border-radius: 1vw;
  border: 0.2vw solid #eee;
  padding: 0 0.6vw;
}

.reset-button:hover{
  transform: scale(1.02);
}

