.jogosPg {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 200;
  font-style: normal;
  font-size: 25px;
  color: #eeeeee;
  padding: 0;
  -webkit-text-stroke: 1.25px #000000;
  border: 1dvh solid #5e1317;
  box-shadow: inset 00px 00px 4vw #5e1317e0;
  min-height: 100dvh;
  width: 100vw;
}

.grade_jogos {
  padding: 0 15vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 5vw;
}
h2 {
  color: #eeeeee;
  font-size: 80px;
  text-align: center;
  margin-bottom: 100px;
  -webkit-text-stroke: 4px #000000;
}
.game-button {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  transition: transform 0.2s;
}

.game-button:hover {
  transform: scale(1.05);
}

.game-icon {
  height: 10vw;
  object-fit: contain;
}

.game-label {
  font-size: 25px;
  text-align: center;
}
