.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4dvh;
  border: 1dvh solid #4e1013;
  min-height: 100dvh;
  border-radius: 2px;
}

.buttonsHome {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 200;
  font-style: normal;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20dvh;
  z-index: 1;
}

.buttonJogar {
  color: #ddd;
  font-size: min(9vw, 16.5dvh);
  border: 1.1dvh solid #000;
  border-radius: 13dvh;
  background: radial-gradient(circle, #b82a1d, #691008);
  -webkit-text-stroke: 1dvh #000000;
  padding: 0 min(2.7vw, 5.5dvh) 4.2dvh min(2.7vw, 5.5dvh);
  line-height: 1;
  box-shadow: 0px 20px 46px rgba(0, 0, 0, 0.6);
}

.buttonSobre {
  color: #ddd;
  font-size: 8dvh;
  border: 0.7dvh solid #000;
  border-radius: 10dvh;
  background: radial-gradient(circle, #207994aa, #054255aa);
  -webkit-text-stroke: 0.5dvh #000000;
  padding: 0 4dvh 2dvh 4dvh;
  line-height: 1;
}

.buttonContato {
  color: #ddd;
  font-size: 8dvh;
  border: 0.7dvh solid #000;
  border-radius: 10dvh;
  background: radial-gradient(circle, #207994aa, #054255aa);
  -webkit-text-stroke: 0.5dvh #000000;
  padding: 0 4dvh 2dvh 4dvh;
  line-height: 1;
}

.buttonRow {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10dvh;
}

.buttonJogar:hover {
  transform: scale(1.07);
}

.buttonSobre:hover {
  transform: scale(1.02);
}

.buttonContato:hover {
  transform: scale(1.02);
}

.logoTexto {
  width: clamp(0px, 125dvh, 66vw);
  transform: scale(1.5);
}

.logo {
  object-fit: contain;
  margin-top: 4dvh;
  display: flex;
  justify-content: center;
  margin-right: 0dvh;
}
.imagens {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  min-height: 99dvh;
  gap: 38vw;
  padding-top: 8dvh;
  padding-right: 2dvh;
}

.imagemCubo {
  margin-top: 7dvh;
  height: 25vw;
}

.imagemXadrez {
  width: 28vw;
}
.imagemXadrez:hover,
.imagemCubo:hover {
  transform: scale(1.02);
}
@media (orientation: portrait) {
  .homePage {
    border: 1.3dvw solid #4e1013;
    gap: 12dvh;
  }

  .buttonsHome {
    gap: 10dvh;
  }

  .buttonJogar {
    font-size: min(18vw, 10dvh);
    border: 1dvw solid #000;
    border-radius: 12.5dvw;
    -webkit-text-stroke: 1dvw #000000;
    padding: 0 5dvw 3.75dvw 5dvw;
  }

  .buttonSobre {
    font-size: 10.5dvw;
    border: 1dvw solid #000;
    border-radius: 12.5dvw;

    -webkit-text-stroke: 0.77dvw #000000;
    padding: 0 5dvw 2.5dvw 5dvw;
  }

  .buttonContato {
    font-size: 10.5dvw;
    border: 1dvw solid #000;
    border-radius: 12.5dvw;

    -webkit-text-stroke: 0.77dvw #000000;
    padding: 0 5dvw 2.5dvw 5dvw;
  }

  .buttonRow {
    flex-direction: column;
    gap: 7dvw;
  }

  .logoTexto {
    width: min(38dvh,80vw);
    transform: scale(1);
  }

  .logo {
    margin-top: 7dvh;
    margin-right: 0;
  }
  .imagens {
    min-height: 99dvh;
    gap: 20vw;
    padding-top: 0dvh;
    padding-right: 0dvh;
  }
  .imagemCubo {
    margin: 0;
    width: 27vw;
  }

  .imagemXadrez {
    width: 30vw;
    margin: 0;
  }
  .imagemXadrez:hover,
  .imagemCubo:hover {
    transform: scale(1.02);
  }
}
