section{
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
    color: #eeeeee;
    margin: 0 100px 0 100px;
    -webkit-text-stroke: 1.25px #000000;
}

/*.sobre{
    
}

.contato{
    
}*/
p{
    -webkit-text-stroke: 1.25px #000000;
}
h3{
    font-size: 48px;
    color: #eeeeee;

}

h2{
    color: #eeeeee;
    font-size: 80px;
    text-align: center;
    margin-bottom: 50px;
    -webkit-text-stroke: 4px #000000;
}   

strong {
  font-weight: normal;
}

.contText{
    font-size: 30px; 
    margin-bottom: 30px;
    -webkit-text-stroke: 1.5px #000000;
}
