.regras {
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
    color: #eeeeee;
    margin: 0 100px 0 100px;
    -webkit-text-stroke: 1.25px #000000;
}

code{
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 200;
    font-style: normal;
    color: #bd0d1c;
    -webkit-text-stroke: 0.4px #fff;
    font-size: 30px;
}