.board {
  position: absolute;
  top: 50px;
  left: 400px;
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  gap: 0px;
  color: rgb(166, 166, 247);
}

.celula {
  border: 1px solid #000000;
  cursor: pointer;
  border-radius: 0px;
  font-size: 15px; /* controla o tamanho da letra */
  display: flex; /* para centralizar */
  align-items: center; /* verticalmente */
  justify-content: center;
  background-color: white;
}

.num-pontu {
  position: absolute;
  font-size: 200px;
  top: 10px;
  left: 10px;
  color: rgb(54, 52, 197);
}
.texto-sorte {
  position: absolute;
  font-size: 50px;
  top: 10px;
  left: 1000px;
  color: rgb(28, 37, 165);
}

.num-sorte {
  position: absolute;
  font-size: 200px;
  top: 100px;
  left: 1000px;
  color: rgb(33, 36, 194);
}

.container {
  display: flex;
  gap: 20px; /* espaço entre o texto e a grade */
  align-items: flex-start; /* alinha no topo */
}
