body {
  background: linear-gradient(to right, #226e8f, #52b8e4);
  
}

.body {
  background: #3f9bc9;
}

.my-element {
  background-color: #000000;
}

.back-button {
  position: absolute;
  background: none;
  border: none;
  z-index: 9999;
}

.homeButton {
  height: 90px;
}
.homeButton:hover {
  transform: scale(1.05);
}
