body {
    background: linear-gradient(to right, #226e8f, #52b8e4);
}

.body {
    background: #3f9bc9;
}


.my-element {
    background-color: #000000
}

.logoTexto{
    width: 800px;
}

.logo {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    margin-left: -30px;
}
.back-button{
    position: absolute;
}